body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    background-color: #283e4a;
    height: 60px;
    padding: 0 20px;
}
.sss{
    background-color: black;
}

.search-bar {
    flex: 1;
    margin-right: 20px;
}

input[type="text"] {
    width: 100%;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #0077b5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}
.button:hover{
    transform: scale(1.1) ;

}
.btn-home {
    background-color: #0077b5;
}
.btn-home:hover{
    transform: scale(1.1) ;

}
.btn-network {
    background-color: #283e4a;
    color: white;
}
.btn-network:hover{
    transform: scale(1.1) ;

}
.btn-jobs {
    background-color: #283e4a;
    color: white;
}
.btn-jobs:hover{
    transform: scale(1.1) ;

}
.btn-message {
    background-color: #283e4a;
    color: white;
}
.btn-message:hover{
    transform: scale(1.1) ;

}
.btn-notification {
    background-color: #283e4a;
    color: white;
}
.btn-notification:hover{
    transform: scale(1.1) ;

}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 0;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #0077b5;
    color: white;
}
body{
    background-color: rgb(236, 197, 147);
}
.div1{
    position: absolute;
    top:15%;
    left:8%;
    width:60%;
    height:100%;
}
.div2{
    position: absolute;
    height:10%;
}
.div3{
    position: absolute;
    top:60%;
    border-radius: 5px;
    background-color: white;
    width:100%;
    height:50%;
}
.name{
    color:black;
    font-size: xx-large;
    position: absolute;
    left:30px;
    top:35%;
}
.small{
    color:black;
    position: absolute;
    left:30%;
    top:36%;
    font-size:small;
}
.std{
    position: absolute;
    left:30px;
    top:50%;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
}
.std1{
    position: absolute;
    left:30px;
    top:60%;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
}
.c1{
    position: absolute;
    left:30%;
    top:60%;
    font-weight: bold;
    text-decoration: none;
}
.c2{
    position: absolute;
    left:30px;
    top:70%;
    font-weight: bold;
    text-decoration: none;
}
a.button3{
    position: absolute;
    left:30px;
    top:80%;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#07314a;
    text-align:center;
    transition: all 0.2s;
    }
a.button3:hover{
    background-color:#4095c6;
}
a.button33{

    position: absolute;
    left:18%;
    top:80%;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    border-color: rgb(25, 9, 244);
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#140f0f;
    background-color:#a9d4ea;
    text-align:center;
    transition: all 0.2s;
    }
a.button33:hover{
    background-color:#4095c6;
}
a.button333{

    position: absolute;
    left:41%;
    top:80%;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    border-color: rgb(25, 9, 244);
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#140f0f;
    background-color:#aaaeb0;
    text-align:center;
    transition: all 0.2s;
    }
a.button333:hover{
    background-color:#4095c6;
}
.lj{
    position: absolute;
    left:60%;
    top:35%;
}
.div4{
    position: absolute;
    top:115%;
    border-radius: 5px;
    background-color: white;
    width:100%;
    height:60%;
}
.pro{
    position: absolute;
    left:5%;
    background-color: #a1d2ee;
}
.div5{
    position: absolute;
    left:9%;
    width:80%;
    height:40%;
    border:1px solid rgb(241, 231, 231);
}
a.button3333{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    border-color: rgb(25, 9, 244);
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#140f0f;
    background-color:#aaaeb0;
    text-align:center;
    transition: all 0.2s;
    }
a.button3333:hover{
    background-color:#4095c6;
}
.div6{
    position: absolute;
    top:110%;
    border-radius: 5px;
    background-color: white;
    width:100%;
    height:55%;
}
.div7{
    position: absolute;
    left:40px;
}
.div8{
    position: absolute;
    top:175%;
    border-radius: 5px;
    background-color: white;
    width:100%;
    height:80%;
}
.div9{
    background-color: #dbe4e9;
    width:100%;
    height:10%;
}
.div9:hover{
    background-color:#4095c6 ;
}
.div10{
    position: absolute;
    top:270%;
    border-radius: 5px;
    background-color: white;
    width:100%;
    height:80%;
}
a.button4{
    position: absolute;
    left:80%;
    top:20%;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:blue;
    font-weight: bold;
    background-color:#bac3c8;
    text-align:center;
    transition: all 0.2s;
    }
a.button4:hover{
    background-color:#4095c6;
}
.hakor{
    position: absolute;
    top:50%;
    left:14%;
}
.div11{
    position: absolute;
    top:365%;
    border-radius: 5px;
    background-color: white;
    width:100%;
    height:60%;
}
.plus{
    border:1px solid white;
    position: absolute;
    top:5%;
    left:80%;
}
.plus:hover{
    transform: scale(1.5) ;
}
.pen{
    border:1px solid white;
    position: absolute;
    top:5%;
    left:90%;
}
.pen:hover{
    transform: scale(1.5);
}
.ok:hover{
    color:blue;
    border-bottom:0.5px solid blue ;
}
.div12{
    position: absolute;
    top:40%;
    left:30%;
}
.div13{
    position: absolute;
    top:435%;
    border-radius: 5px;
    background-color: white;
    width:100%;
    height:105%;
}
.div14{
    position: absolute;
    top:20%;
    left:20%;
}
a.button44{
    position: absolute;
    top:80%;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#07314a;
    text-align:center;
    transition: all 0.2s;
    }
a.button44:hover{
    background-color:#4095c6;
}
.div15{
    position: absolute;
    top:60%;
    left:20%;
}
.div16{
    position: absolute;
    top:560%;
    border-radius: 5px;
    background-color: white;
    width:100%;
    height:100%;
}
hr {
    height: 0px;
    border: none;
    border-top: 1px solid black;
}
.div17{
    position: absolute;
    top:670%;
    border-radius: 5px;
    background-color: white;
    width:100%;
    height:100%;
}
.deev1{
    position: absolute;
    top:15%;
    left:73%;
    width:25%;
    height:100%;
}
.deev2{
    position: absolute;
    border-radius: 5px;
    background-color: rgb(243, 233, 233);
    width:100%;
    height:20%;
}
.deev3{
    position: absolute;
    border-radius: 5px;
    top:25%;
    background-color: rgb(243, 233, 233);
    width:100%;
    height:50%;
}
.deev4{
    position: absolute;
    left:10%;
}
.ad{
    position: absolute;
    left:30%;
}
.deev5{
    position: absolute;
    left:25%;
    top:65%;
}
a.button5{
    position: absolute;
    top:80%;
    left:25%;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#1692da;
    text-align:center;
    transition: all 0.2s;
    }
a.button5:hover{
    background-color:#4095c6;
}
.deev6{
    position: absolute;
    border-radius: 5px;
    top:80%;
    background-color: rgb(243, 233, 233);
    width:100%;
    height:202%;
}
.deev7{
    position: absolute;
    left:10%;
}
a.button6{
    position: absolute;
    left:60%;
    top:95%;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    border-color: rgb(25, 9, 244);
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:270;
    color:#140f0f;
    background-color:#85e6ae;
    text-align:center;
    transition: all 0.2s;
    }
a.button6:hover{
    background-color:#4095c6;
}
.deev8{
    position: absolute;
    border-radius: 5px;
    top:288%;
    background-color: rgb(243, 233, 233);
    width:100%;
    height:108%;
}
.deev9{
    position: absolute;
    border-radius: 5px;
    top:402%;
    background-color: rgb(243, 233, 233);
    width:100%;
    height:100%;
}
a.button7{
    position: absolute;
    left:60%;
    top:95%;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    border-color: rgb(138, 244, 9);
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:270;
    color:#140f0f;
    background-color:#85e6ae;
    text-align:center;
    transition: all 0.2s;
    }
a.button7:hover{
    background-color:#4095c6;
}
.deez1{
    position: absolute;
    left:8%;
    top:540%;
    width:70%;
    height:40%;
}
.deez2{
    position: absolute;
    left:5%;
    border-radius: 5px;
    width:50%;
    height:20%;
}
.aw{
    color:black;
    font-size:medium;
}
.aw:visited{
    color:purple;
}
.deez3{
    top:-2%;
    position: absolute;
    left:45%;
    border-radius: 5px;
    width:50%;
    height:20%;
}
.deez4{
    top:-2%;
    position: absolute;
    left:70%;
    border-radius: 5px;
    width:50%;
    height:20%;
}
.lan{
    position: absolute;
    left:75%;
    top:533%;
    width:20%;
    height:40%;
}
.but:hover{
    background-color: blue;
}
.HOPE{
    position: absolute;
    top:576%;
    left:80%;
    width:20%;
}
